<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://ca3-120221213190619.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/c5ae8f88-1357-4c56-87d9-8cfcae24d75f/resourceGroups/CA3-120221213190619ResourceGroup/providers/Microsoft.ContainerRegistry/registries/CA3120221213191249</ContainerResourceId>
    <ContainerResourceName>CA3120221213191249</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>ca3120221213191249.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c5ae8f88-1357-4c56-87d9-8cfcae24d75f/resourceGroups/CA3-120221213190619ResourceGroup/providers/Microsoft.Web/sites/CA3-120221213190619</ResourceId>
    <ResourceGroup>CA3-120221213190619ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ca3-120221213190619.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3bfe837b-eef1-4c9a-9256-c743bcbbb888</ProjectGuid>
  </PropertyGroup>
</Project>